.content{
    display: flex;
    justify-content: space-between;
    padding:1.813rem 1.5rem 1.75rem 0.813rem  ;
    
}
.logo{
    color: #fff;
    text-transform: uppercase;
    font-family: 'Ruda', sans-serif;
    font-size: 1.5rem;;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:2rem;
    list-style-type: none;
}
ul li  > a{
    text-transform: uppercase;
    font-size: 1.25rem;
    color: #fff;
    font-family: 'Ruda', sans-serif;
    text-decoration: none;
}