.titleMenu{text-align: center;
 width: 474px;
 margin-top: 80px;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list{
    margin-top: 1.813rem;
    display: flex;
    gap:4.5rem;
}
.container{
    padding: 10rem 4rem;

}