.content{
    background-image: url('./assets/backgroundBaner.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}
.contentImg{
margin-bottom: -150px;
display: flex;
justify-content: center;
align-items: center;
}
img{
   display: inline-block;
   transform: rotate(90deg);
}
h1{
    font-family: 'Quattrocento', serif;
    color:#fff;
    border-bottom: 4px solid #F2C94C;
    margin-top: 10rem;
    text-transform: uppercase;
    font-size: 4.5rem;
    margin-bottom: 22px;
}
.description{
    text-align: center;
    width: 745px;
    font-size:25px;
    margin-bottom: 80px;
    line-height: 40px;
}